.main_nav {
    background-color: #005479;
    width:  100%;
    z-index: 20;
    display:flex;
    justify-content: flex-end;
    /* overflow: auto; Should help reduce need for <BR> */
    /* float: right; */
    /* position: absolute;
    height: 8%; */
}

.main_nav ul { /* will only target ul that is a child of element with class main */
    margin: 0; /* A ul has a margin, and so will add space */
    list-style: none; /* Will remove the dots in an li element */
    padding: 0; /* Gets rid of li padding */
    background-color: #005479;
    /* position: relative; */
    z-index: 20;
    /* float: right; */
    /* display: inline-block; */
} /* Possibly add display:inline-block then float:right */

.main_nav ul li {
    display: inline-block; /* Inline will only take width and height from content. */
    background-color: #005479;
    font-size: 1.3em;
    padding: 1em; /* Pads around the content */
    z-index: 20;
    /* position: absolute;
    float: right; */
}

.main_nav ul a { /* anchors, child of ul, child of main_nav class */
    color: #fff; /* Set the text white */
    text-decoration: none; /* Gets rid of the underlines */
    text-transform: capitalize; /* transforms the text */
    z-index: 20;
}

